IC/src/popdracht1/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="elektriciteitsprijs" type="elektriciteitsprijs"/>
  <xs:complexType name="elektriciteitsprijs">
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element name="gebruikteKWH" type="xs:decimal"/>
      <xs:element name="kostenPerKWH" type="xs:decimal"/>
      <xs:element name="vastrechtPM" type="xs:decimal"/>
    </xs:all>
  </xs:complexType>
</xs:schema>


